<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--    容器名-->
    <dubbo:application name="export_stat_service"/>

    <!--    注册中心-->
    <dubbo:registry address="zookeeper://115.159.193.54" port="2181"/>

    <!--    传输协议-->
    <dubbo:protocol name="dubbo" port="21899"/>

    <!--    包扫描-->
    <dubbo:annotation package="cn.itcast.service.stat"/>
</beans>