<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <!--    1.导入数据库配置-->
    <properties resource="properties/db.properties"/>
    <!--    2.jdbc驱动-->
    <classPathEntry location="${jdbc.path}"/>

    <!--    mybatis容器配置-->
    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
            <!--            true表示配置不需要自动生成注解-->
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>
        <!--        3.配置jdbc-->
        <jdbcConnection driverClass="${jdbc.driver}" connectionURL="${jdbc.url}"
                        userId="${jdbc.username}" password="${jdbc.password}"/>
        <!--        4.配置java类型-->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!--        5.指定实体类路径-->
        <javaModelGenerator targetPackage="cn.itcast.domain.cargo"
                            targetProject="D:\workspace\export_parent\mybatis_generate\src\main\java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!--       6. 指定dao接口映射文件所在路径-->
        <sqlMapGenerator targetPackage="cn.itcast.dao.cargo"
                         targetProject="D:\workspace\export_parent\mybatis_generate\src\main\resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!--        7.指定dao的接口文件所在路径-->
        <javaClientGenerator targetPackage="cn.itcast.dao.cargo"
                             targetProject="D:\workspace\export_parent\mybatis_generate\src\main\java"
                             type="XMLMAPPER"
        >
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!-- enableCountByExample是否要给你生成统计函数-->
        <!--enableDeleteByExample是否要生成根据条件删除代码-->
        <!--enableSelectByExample是否根据条件查询-->
        <!--enableUpdateByExample是否生成根据条件修改-->
        <!--        8.指定对数据库哪个表进行逆向-->
        <table schema="saas-export"
               tableName="co_ext_eproduct"
               domainObjectName="ExtEproduct" mapperName="ExtEproductDao"

        enableCountByExample="false"

        enableDeleteByExample="false"

        enableSelectByExample="true"

        enableUpdateByExample="false"/>
    </context>
</generatorConfiguration>